header {
    margin-bottom: 80px;
}

h1 {
    font-size: 48px;
    color: rgb(71, 62, 62);
    margin: 0;
}

header p {
    font-size: 20px;
    margin: 12px 0;
}

a {
    padding: 12px 48px;
    background-color: rgb(167, 1, 78);
    color: white;
    border: 1px solid rgb(167, 1, 78);
    border-radius: 4px;
    font-size: 24px;
    display: inline-block;
    margin: 0;
}

a:hover {
    text-decoration: none;
    background-color: rgb(12, 180, 40);
}

ol {
    list-style: none;
    width: 500px;
    margin: 36px auto 0 auto;
    padding: 0;
}

li {
    font-family: 'Poppins', sans-serif;
    padding: 16px;
    margin: 32px;
    background-color: rgb(223, 136, 124);
    border-radius: 6px;
    box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.2);
}

h2 {
    color: rgb(78, 13, 5);
    font-family: 'Oswald', sans-serif;
}

.daily-goal {
    margin: 12px;
    font-size: 20px;
}

.highlight-goal {
    background-color: rgb(115, 224, 111);
}