body {
    background-color: rgb(244, 234, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 50px 50px 50px 50px;
}

header {
    padding-bottom: 40px;
}

header h1 {
    color: rgb(88, 49, 196);
    font-size: 52px;
}

header img {
    width: 300px;
}

main {
    width: 750px;
    margin: 32px auto;
    padding: 32px;
    border-radius: 8px;
    background-color: rgb(122, 74, 218);
    color: white;
    text-align: left;
    font-weight: 400;
}

a {
    background-color: bisque;
    color: black;
    border-radius: 4px;
    padding: 2px 5px;
}

a:hover, a:active {
    background-color: rgb(85, 247, 96);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 14px 0;
    padding-left: 10px;
    border-left: 5px solid transparent;
}

.star {
    color: rgb(255, 237, 177);
    border-color: rgb(247, 209, 85);
}

footer a {
    background-color: rgb(246, 227, 57);
    display: inline-block;
    border-radius: 4px;
    padding: 15px;
}

a {
    color: rgb(52, 51, 51);
    text-decoration: none;
}

footer p {
    color: grey;
    font-size: .9em;
}